@import "../master-page/shared/styles/shared.scss";

.news-info {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 64px;
  padding: 64px;
  width: 100%;

  @media (max-width: $--mq-desktop-large) {
    grid-template-columns: 1fr;
  }
}
