<div id="news" class="news">
  <div class="new" *ngFor="let news of [].constructor(8)">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

    <a target="_blank" href="https://zenit.games/priston"
      ><h6>ZENIT GAMES | 21/05/2023</h6></a
    >
    <div class="new-info">
      <img class="w-100" src="assets/images/event.jpg" />

      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        placerat malesuada ligula, eu accumsan neque semper ullamcorper. Ut quam
        nibh, tincidunt a bibendum a, pharetra eu leo. Praesent convallis nisi
        ante, non varius turpis suscipit ut. Mauris ac massa eu nibh fermentum
        dapibus. Ut maximus scelerisque tellus eu mattis. Vivamus vel nisi
        maximus, vehicula lorem in, bibendum quam. Proin lacinia felis non
        sollicitudin lacinia. Sed a sodales sem. In hac habitasse platea
        dictumst. Vivamus accumsan tortor laoreet, semper odio ac, pretium nisl.
        Cras ultrices euismod fringilla. Curabitur fermentum venenatis justo eu
        pharetra. Duis ultrices turpis sit amet lorem mattis, sit amet euismod
        massa convallis. Mauris fermentum justo nec feugiat convallis. Etiam id
        sodales lectus, ac sodales nulla.
      </h5>
    </div>
  </div>
</div>
