@import "../../shared/styles/shared.scss";

.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @media (max-width: $--mq-tablet) {
    grid-template-columns: 1fr;
  }

  .new {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    transition: .5s;
    padding: 16px;
    background: $pt-color-background-gray;
    border-radius: 8px;
    height: 500px;
    
    &:hover {
      scale: 102%;
    }

    .new-info {
      display: grid;
      grid-template-rows: auto 1fr;
      overflow: hidden;
      gap: 16px;

      > img {
        width: 100%;
        max-height: 180px;
        object-fit: cover;
        border-radius: 8px;
        object-position: right;
      }

      h5 {
        overflow: auto;
        padding-right: 8px;
      }
    }

    a {
      text-decoration: none;
    }

    h3 {
      border-bottom: 1px solid #757575;
      color: #757575;
      cursor: pointer;
      padding-bottom: 12px;
    }
  }
}
